@use "variables";
@use "base";

@media screen and (max-width: 940px) {
  nav > :nth-child(3) > :nth-child(2) {
    padding: 0.5rem 1.5rem;
  }

  .statistics > ul {
    min-height: 48rem;
  }

  .statistics > ul > li {
    min-height: 38rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    z-index: 3;
    margin: 6rem auto 0;

    h1 {
      align-self: flex-start;
    }

    nav {
      margin: 2rem 0;
      padding: 2rem 0;
      background-color: map-get(variables.$primaryColors, darkViolet);
      flex-direction: column;
      align-items: center;
      border-radius: 1rem;

      div {
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 85%;
        margin: 3rem 0;

        a {
          color: white;
          margin: 2rem 0;
          font-weight: 700;
        }
      }

      svg {
        position: absolute;
        top: -25%;
        right: 0;
        width: 3.2rem;
        fill: gray;
      }
    }
    .hidden {
      display: flex;
    }
    .strip {
      border-bottom: 1px solid gray;
      a {
        margin: 2rem 0;
      }
    }
  }

  nav > :nth-child(3) > :nth-child(2) {
    width: 75%;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
  }

  header > .white {
    background-color: white;
  }

  /* MAIN SECTION*/

  main {
    margin: 9rem auto auto;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 90%;
    }
  }

  main > article > :nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 0 auto;

    p {
      margin: 2rem 0;
    }

    h2 {
      font-size: 4rem;
      line-height: 4rem;
    }

    a {
      margin: 0;
    }
  }

  main > article {
    display: flex;
  }

  main > article > :nth-child(2) {
    order: -1;
  }

  /*Form */
  form {
    width: 90%;
    max-width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    bottom: -8rem;
  }

  form > :nth-child(1) {
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  form > :nth-child(2) {
    width: 100%;
    align-items: center;
    height: auto;
    margin: 1rem 0;
    button {
      width: 97%;
      margin: 0;
    }
  }

  /* links */

  .shortenLinks {
    flex-direction: column;
  }

  .shortenLinks > ul {
    width: 90%;
    max-width: 90%;
  }

  .shortenLinks > ul > li {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .shortenLinks > ul > li > :nth-child(1) {
    border-bottom: 1px solid lightgray;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .shortenLinks > ul > li > :nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .shortenLinks > ul > li > :nth-child(2) :nth-child(1) {
    justify-self: flex-start;
    width: 100%;
  }

  .shortenLinks > ul > li > :nth-child(2) > .copy {
    width: 100%;
    margin: 1rem 0;
  }

  /* STATISTICS */

  .statistics {
    text-align: center;
    h3 {
      width: 90%;
      max-width: 90%;
    }
    ul {
      flex-direction: column;
      width: 90%;
      max-width: 90%;
      margin: 0 auto;
    }

    p {
      width: 90%;
      max-width: 90%;
    }
  }

  .statistics > ul > li {
    margin: 8rem 0;
    min-height: 30rem;
  }

  .statistics > ul > :nth-child(2) {
    &::before {
      height: 8rem;
      width: 2rem;
      right: 50%;
      left: 50%;
      top: -8rem;
    }

    &::after {
      display: none;
    }
  }

  .statistics > ul > :nth-child(3) {
    &::before {
      content: "";
      height: 8rem;
      width: 2rem;
      right: 50%;
      left: 50%;
      top: -8rem;
      background-color: map-get(variables.$primaryColors, cyan);
      position: absolute;
      z-index: 1;
    }
  }

  /*Boost*/

  .boostLinks {
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2.5rem;
    }
  }

  /* Footer */

  footer > ul {
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
  }

  footer > ul > li {
    margin: 2rem 0;
  }

  footer > ul > :nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  footer > ul > :nth-child(2) > div {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  header > nav > .toggle {
    display: none;
  }
}
